<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Aneeda
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <button ion-button (click)="isSpeechSupported()">Is Speech Supported?</button>

  <button ion-button (click)="getPermission()">Get Permission!</button>

  <button ion-button (click)="hasPermission()">Has Permission</button>

  <button ion-button (click)="getSupportedLang()">Lists Supported Languages</button>

  <button ion-button (click)="listenForSpeech()">Listen</button>

  <ion-card>
    <ion-card-content *ngFor="let speech of speechPercept; let first = first;">
      <p>{{speech}}</p>
      
    </ion-card-content>
  </ion-card>
<!--
  <ion-card>
    <ion-card-content *ngFor="let spit of firstSpit;">
      <p>Display spit area</p>
      <p>{{spit}}</p>
    </ion-card-content>
  </ion-card> -->
